@if(!isConnecter){
    <app-login></app-login>
}@else{
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Gestion des Assignements</span>
        <span class="example-spacer"></span>
        <button [matMenuTriggerFor]="profile" mat-button>  <mat-icon style="font-size:30px;height: 40px;width: 40px;">person</mat-icon></button>
        <mat-menu #profile="matMenu">
            <button  mat-menu-item routerLink="profile">Profile</button>
            <button  mat-menu-item (click)="onDeconnecter()">Se déconnecter</button>
        </mat-menu>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <div *ngFor="let item of menuItems">
                <mat-list-item>
                    <button routerLink="{{item.path}}" mat-button><mat-icon>{{item.icon}}</mat-icon>{{item.label}}</button>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center;min-height: 600px;padding:50px">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>  
}