@if(isConnecter){
    <app-login></app-login>
}@else{
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Gestion des Assignements</span>
        <span class="example-spacer"></span>
        <a mat-raised-button color="accent" (click)="onDeconnecter()">Déconnecter</a>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="/professeurs" mat-button><mat-icon>list</mat-icon>Gestion des professeurs</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button routerLink="assignement/ajout-assignement" mat-button><mat-icon>add_note</mat-icon>Gestion des assignements</button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center;min-height: 600px;padding:50px">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>  
}