@if(loading) {
  <div class="parent-container">
    <mat-spinner></mat-spinner>
  </div>
} @else {
<div class="container">
  <h2>{{ titre }}</h2>
  <div class="btnAjout">
    <button mat-flat-button color="accent" routerLink="/professeur/ajout">
      <mat-icon>add</mat-icon>Ajouter Professeur
    </button>
  </div>



  <table
    mat-table
    [dataSource]="professeurs"
    class="mat-elevation-z8 demo-table"
  >
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let a">{{ a._id }}</td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom du professeur</th>
      <td mat-cell *matCellDef="let a">{{ a.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let a">{{ a.email }}</td>
    </ng-container>

    <ng-container matColumnDef="matières">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let a">
        <button mat-button color="primary" (click)="goListeMatiere(a)">Voir liste des matières</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="limit"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[1,5, 10, 25,50]"
      [pageIndex]="page"
      aria-label="Select page"
    >
    </mat-paginator>
</div>
}
