<mat-card style="padding-bottom: 20px;">
  <mat-card-header>
    <mat-card-title>Validation mutliple des devoir rendus</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex">
      <div style="flex: 1">
        <h2>Devoirs rendus non approuvés</h2>
        <div
          cdkDropList
          class="example-list"
          #listeNonApprouveList="cdkDropList"
          [cdkDropListData]="listeNonApprouve"
          [cdkDropListConnectedTo]="[listeAAprrouveList]"
          (cdkDropListDropped)="drop($event)"
        >
          <cdk-virtual-scroll-viewport
            itemSize="50"
            class="example-viewport"
            #scroller
          >
            @if(loading) {
            <div class="parent-container">
              <mat-spinner></mat-spinner>
            </div>
            } @else {
            <div *ngFor="let demande of listeNonApprouve" cdkDrag>
              <mat-card class="card">
                <mat-card-content>
                  <h3 mat-subheader> {{ demande.assignement }}</h3>
                  <div style="display: flex;">
                    <img style="margin-left: 20px;" src="{{demande.photoeleve?demande.photoeleve:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRetK3z-l-tvWGrJwlKrM8_7Z8PZJLOGkqD1A&usqp=CAU'}}" width="100" alt="{{demande.eleve}}">
                    <div>
                      <mat-list-item>
                        <mat-icon matListItemIcon>person</mat-icon>
                        <div matListItemTitle>L'élève</div>
                        <div matListItemLine class="list-desc">
                          {{ demande.eleve }}
                        </div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon matListItemIcon>date_range</mat-icon>
                        <div matListItemTitle>La date du rendu du devoir</div>
                        <div matListItemLine class="list-desc">
                          {{ demande.dateRenduEleve | date : "dd/MM/yy" }}
                        </div>
                      </mat-list-item>
                    </div>
                  </div>
                </mat-card-content></mat-card
              >
            </div>
            }
          </cdk-virtual-scroll-viewport>
        </div>
      </div>

      <div style="flex: 1">
        <h2>Devoirs rendus à approuver</h2>
        <div
          cdkDropList
          class="example-list"
          #listeAAprrouveList="cdkDropList"
          [cdkDropListData]="listeAAprrouve"
          [cdkDropListConnectedTo]="[listeNonApprouveList]"
          (cdkDropListDropped)="drop($event)" 
          style="max-height: 500px; overflow-y: auto;"
        >
          <div *ngFor="let demande of listeAAprrouve">
            @if(demande.assignement){
                <mat-card class="card">
                    <mat-card-content>
                      <h3 mat-subheader> {{ demande.assignement }}</h3>
                      <div style="display: flex;">
                        <img style="margin-left: 20px;" src="{{demande.photoeleve?demande.photoeleve:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRetK3z-l-tvWGrJwlKrM8_7Z8PZJLOGkqD1A&usqp=CAU'}}" width="100" alt="{{demande.eleve}}">
                        <div>
                          <mat-list-item>
                            <mat-icon matListItemIcon>person</mat-icon>
                            <div matListItemTitle>L'élève</div>
                            <div matListItemLine class="list-desc">
                              {{ demande.eleve }}
                            </div>
                          </mat-list-item>
                          <mat-list-item>
                            <mat-icon matListItemIcon>date_range</mat-icon>
                            <div matListItemTitle>La date du rendu du devoir</div>
                            <div matListItemLine class="list-desc">
                              {{ demande.dateRenduEleve | date : "dd/MM/yy" }}
                            </div>
                          </mat-list-item>
                        </div>
                      </div>
                    </mat-card-content></mat-card>
                } @else if(listeAAprrouve.length == 1){
            <mat-card class="card">
              <mat-card-content> </mat-card-content
            ></mat-card>
            }
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="annuler()">Annuler</button>
    <button mat-raised-button (click)="valider()" style="margin-left: 20px; margin-right: 20px;background-color: darkgreen;color: white;">Valider</button>
  </mat-card-actions>
</mat-card>
