
@if(loading) {
    <div class="parent-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <h2 mat-dialog-title>Ajouter une nouvelle matière</h2>
<mat-dialog-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width white">
          <input matInput placeholder="Intitulé de la matière" name="libelle" [(ngModel)]="libelle" (input)="onInputChange()" required>
          <mat-error *ngIf="libelleFormControl.hasError('required')">Veuillez saisir le nom de la matiere</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width white">
            <mat-label>Niveau de la matiere</mat-label>
            <mat-select (input)="onInputChange()" [(value)]="niveau" required>
                <mat-option *ngFor="let niveau of listeNiveau" [value]="niveau.idNiveau">{{ niveau.libelle }}</mat-option>
            </mat-select>
            <mat-error *ngIf="niveauFormControl.hasError('required')">Veuillez saisir le nom de la matiere</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width white">
            <input matInput placeholder="Photos" name="photo" [(ngModel)]="photo" (input)="onInputChange()" required>
            <mat-icon matSuffix>link</mat-icon>
            <mat-error *ngIf="photoFormControl.hasError('required')">Veuillez entrer l'URL de l'image</mat-error>
            <mat-error *ngIf="photoFormControl.hasError('required')">ex: https://media.istockphoto.com/img.com</mat-error>
          </mat-form-field>
        <mat-error class="add-error" *ngIf="error">{{error}}</mat-error>
       <div class="add-button-content"> <button mat-flat-button  class="add-button" type="submit">Ajouter</button></div>
      </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
}