<mat-card>
  <mat-card-header>
    <mat-card-title class="login-title">Fiche Assignement</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if(loading) {
    <div class="parent-container">
      <mat-spinner></mat-spinner>
    </div>
    } @else {
    <mat-list>
      <div mat-subheader>Information</div>
      <div style="display: flex; flex-wrap: wrap; margin-bottom: 20px">
        <div class="list-info">
          <mat-list-item>
            <mat-icon matListItemIcon>title</mat-icon>
            <div matListItemTitle>Devoir</div>
            <div matListItemLine class="list-desc">
              {{ assignement.nomAssignement }}
            </div>
          </mat-list-item>
        </div>

        <div class="list-info">
          <mat-list-item>
            <mat-icon matListItemIcon>book</mat-icon>
            <div matListItemTitle>Matière</div>
            <div matListItemLine class="list-desc">
              {{ assignement.matiere }}
            </div>
          </mat-list-item>
        </div>
        <div class="list-info">
          <mat-list-item>
            <mat-icon matListItemIcon>Description</mat-icon>
            <div matListItemTitle>Description</div>
            <div matListItemLine class="list-desc">
              {{ assignement.description }}
            </div>
          </mat-list-item>
        </div>
        <div class="list-info">
          <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>Prof</div>
            <div matListItemLine class="list-desc">{{ assignement.prof }}</div>
          </mat-list-item>
        </div>
        <div class="list-info">
          <mat-list-item>
            <mat-icon matListItemIcon>calendar_today</mat-icon>
            <div matListItemTitle>Délai</div>
            <div matListItemLine class="list-desc">
              {{ assignement.dateRendu | date:'yyyy/MM/dd' }}
            </div>
          </mat-list-item>
        </div>
        <div class="list-info">
          <mat-list-item>
            <mat-icon matListItemIcon>school</mat-icon>
            <div matListItemTitle>Niveau</div>
            <div matListItemLine class="list-desc">
              {{ assignement.niveau }}
            </div>
          </mat-list-item>
        </div>
        <div class="list-info">
          @if(assignement.statut) {
          <mat-list-item>
            <mat-icon matListItemIcon>lock</mat-icon>
            <div matListItemTitle>Statut</div>
            <div matListItemLine class="list-desc">Devoir déjà validé</div>
          </mat-list-item>
          } @else{
          <mat-list-item>
            <mat-icon matListItemIcon>lock_open</mat-icon>
            <div matListItemTitle>Statut</div>
            <div matListItemLine class="list-desc">
              Devoir en cours de traitement
            </div>
          </mat-list-item>
          }
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="div-action">
        <div class="btnList">
          <button mat-flat-button color="accent" (click)="goliste()">
            <mat-icon>arrow_back</mat-icon>Retour
          </button>
        </div>
        <div class="btnModif">
          <button mat-flat-button color="accent" routerLink="/professeur/ajout">
            <mat-icon>edit</mat-icon>Modifier
          </button>
        </div>
        <div class="btnList">
          <ng-container *ngIf="!voir; else nonVoir">
            <button mat-flat-button color="accent" (click)="isAfficher()">
              <mat-icon>remove_red_eye</mat-icon>Afficher les assignements des élèves
            </button>
          </ng-container>
          <ng-template #nonVoir>
            <button mat-flat-button color="warn" (click)="isAfficher()">
              <mat-icon>visibility_off</mat-icon>Ne pas afficher les assignements des élèves
            </button>
          </ng-template>
        </div>
      </div>
    </mat-list>
    }
  </mat-card-content>
</mat-card>
<br>
<!--Liste des devoirs des élèves-->

<app-detail-assignement [detailAssignementEleve]="detail" [assignement]="assignement" *ngIf="voir"></app-detail-assignement>