<mat-card>
  <mat-card-header>
    @if(role === 'etudiant') {
    <mat-card-title class="login-title">Ma performance</mat-card-title>
      } @else { 
        <mat-card-title class="login-title">Statistiques des élèves</mat-card-title>
      }
  </mat-card-header>

  <mat-card-content>
    @if(loading) {
    <div class="parent-container">
      <mat-spinner></mat-spinner>
    </div>
    } @else {
    <mat-list>
      <div class="performance">
        <div class="filtre">
          <mat-list>
            <div mat-subheader class="performance-format">Graphe <mat-slide-toggle [(ngModel)]="isTB"> Tableau de bord</mat-slide-toggle></div>
            <div style="display: flex; flex-wrap: wrap; margin-bottom: 20px">
              <form>
                <div style="display: flex; justify-content: space-between;">
                  <mat-form-field class="full-width white">
                    <mat-label>Elève</mat-label>
                    <mat-select [(ngModel)]="eleveValue" name="eleve" (selectionChange)="onChangeEleve($event.value)" [disabled]="role === 'etudiant'">
                      <mat-option [value]="">Tous...</mat-option>
                      <ng-container *ngFor="let eleve of listeEleve">
                        <mat-option [value]="eleve._id"><mat-icon>person</mat-icon>{{ eleve.nom+" "+eleve.prenom }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                  
                  <mat-form-field class="full-width white">
                    <mat-label>Niveau</mat-label>
                    <mat-select [(ngModel)]="niveauValue" name="niveau" (selectionChange)="onChangeNiveau($event.value)">
                      <mat-option [value]="">Tous...</mat-option>
                      <ng-container *ngFor="let niveau of listeNiveau">
                        <mat-option [value]="niveau.idNiveau"><mat-icon>extension</mat-icon>{{ niveau.libelle }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                
                  <mat-form-field class="full-width white">
                    <mat-label>Matière</mat-label>
                    <mat-select [(ngModel)]="matiereValue" name="matiere" (selectionChange)="onChangeMatiere($event.value)">
                      <mat-option [value]="">Toutes...</mat-option>
                      <ng-container *ngFor="let matiere of listeMatiere">
                        <mat-option [value]="matiere._id"><mat-icon>assignment</mat-icon>{{ matiere.libelle }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                

                  <mat-form-field class="full-width white">
                    <mat-label>Ordre</mat-label>
                    <mat-select [(ngModel)]="ordreValue" name="ordre" (selectionChange)="onChangeOrdre($event.value)">
                        <mat-option [value]="">Par défaut</mat-option>
                        <mat-option [value]="1"><mat-icon>trending_up</mat-icon>Croissant</mat-option>
                        <mat-option [value]="-1"><mat-icon>trending_down</mat-icon>Décroissant</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </mat-list>
        </div>
        <div class="result">
          @if(isTB){
            <table
            mat-table
            [dataSource]="performance"
            class="mat-elevation-z8 demo-table">

            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Libelle</th>
              <td mat-cell *matCellDef="let a">{{ a._id }}</td>
            </ng-container>

            <ng-container matColumnDef="moyenne">
              <th mat-header-cell *matHeaderCellDef>Moyenne/20</th>
              <td mat-cell *matCellDef="let a">{{ a.moyenne }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            
          </table>

          }@else{
            <c-chart [data]="data" type="line" (chartRef)="handleChartRef($event)"></c-chart>
          }
        </div>
      </div>
    </mat-list>
    }
  </mat-card-content>
</mat-card>
