.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .mat-mdc-card-content {
    text-align: initial !important;
  }
  
  .mat-mdc-progress-spinner {
    width: 30px !important;
    height: 30px !important;
    margin-left: 40%;
    margin-top: 160px;
  }
  
  .mat-mdc-card {
    min-height: 400px;
  }
  
  .list-info {
    width: 50%;
  }
  
  
  .list-desc {
    white-space: pre-wrap;
  }
  
  
  .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
      height: auto !important;
  }
  
  .div-action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .div-error {
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }

  .error {
    font-size: 16px !important;
    background-color: var(--mat-form-field-error-text-color);
    color: black;
    padding:15px 15px 15px 15px;
    text-align: center;
  }
  
  p {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .images-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: -20px;
  }
  
  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
  }
  
  .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  .image-text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }